body{
  text-align: center;
}

#div1{
  display: block;
  color: blue;
  border-radius: 15px;
  border-style: solid;
  text-align: center;
}
#div2{
  display: block;
  color: #6495ED;
  width: 100%;
  font-size: 30px;
  border-radius: 15px;
  border-style: solid;
  text-align: center;
  
}

.button{
  background-color: #9370DB;
   border: none;
   color: white;
   padding: 15px 32px 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   transition: 0.5s;
}

.button:hover{
  font-size: 18px;
  background-color: #E6E6FA;
  color: black;
}
