html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  padding-top: 50px;
  height: 100%;
  width: 100%;
  display: -webkit-inline-box;
  -webkit-box-orient: horizontal;
}

@media (max-width: 1000px){
  .sideBar{
    display: block;
  }
  .sideBar h1{
    font-size: 20px;
  }
}

.main {
  background: #f9fbfc;
  width: 100%;
 -ms-flex: 1;
 -webkit-box-flex: 1;
 -moz-box-flex: 1;
 -ms-box-flex: 1;
 box-flex: 1;
}

.eventsNav{
    height: 50px;
    background-color: #f9fbfc;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 99999;
    transition: all ease .5s;
    box-shadow: 0px 1px 10px grey;
}

.eventsLogo{
  color: #5dbd6b;
  padding: 0px;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  padding: 15px 10px 15px 10px;
  opacity: 1;
}

.eventsLogo:hover{
  color: #0c9949;
}

.facebookIcon{
  color: #5dbd6b;
  font-size: 20px;
  padding: 0px 10px 15px 10px;
}

.specificEventsBanner img{
  padding-top: 0px;
  object-fit: cover;
  width: 91.3vw;
  height: 500px;
  object-position: 0px -190px;

}

.specificEventsDescription h1{
  color: #0c9949;
  /* text-align: center; */
  padding-left: 120px;
  font-weight: 700;
}

.specificEventsDescription p{
  color: #0f4c88;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  padding: 5px 120px 5px 120px;
}

.sideBar {
  display: block;
  flex-wrap: wrap;
  background: #5dbd6b;
  width: 150px;
  padding-top: 7%;
  }

.eventTitle{
  font-size: 50px;
}

.date{
  padding-top: 50px;
}
.time{
  padding-top: 50px;
}
.location{
  padding-top: 50px;
}

h1{
    margin: 0;
    font-size: 35px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    padding-top: 15px;
    color: #f9fbfc;
    padding-left: 15px;
    padding-right: 15px;
}

p{
  font-size: 20px;
}
