/* Light Green: #5dbd6b */
/* Blue: #0f4c88 */
/* White: #f9fbfc */
/* Dark green: #0c9949 */
.fadeContainer{
  opacity: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
}

/* Home page */
header {
  /*background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url(../Images/banner.jpeg); */
  background-color: #f9fbfc;
  background-size: cover;
  height: 100vh; /* vh is viewport height */

}

a{
  text-decoration: none;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #5dbd6b;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  /* text-transform: uppercase; */
  margin: 0;
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  white-space: nowrap;
}


#eventsHomeTitle{
  text-align: center;
  color: #0f4c88;
  padding-top: 100px;
}

h2{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: #0f4c88;
  font-size: 25px;
}

p{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: #0c9949;
  font-size: 25px;
}

#planetNCLogo{
  border-radius: 100%;
  height: 50%;
  width: 50%;
}

#bannerPara{
  margin: 0;
  font-size: 1.3rem;
  padding: 0;
}

.facebookIcon{
  color: #5dbd6b;
  font-size: 20px;
  padding: 0px 10px 15px 10px;
}
#scrollLink{
  text-decoration: none;
  color: #5dbd6b;
  padding-bottom: 10px;
}

.aboutUsButton{

  font-size: 25px;
  text-decoration: underline;
  padding-bottom: 25px;
}

#about{
  height: 1200px;
}

.fa-chevron-down{
  font-size: 50px;
  text-align: center;
  display: block !important;
}


#aboutHeader{
  text-align: center;
  font-weight: 500;
  padding-top: 100px;
  color: #0f4c88;
}
/* About section flexbox */
.flex-grid {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  padding-top: 100px;
}

.col {
  flex: 1;
  padding-left: 100px;
  padding-right: 100px;
}

.aboutIcons{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 200px;
  height: auto;
}


#upcomingEvents{
  height: 65vh;
}

.upcomingEventsColor{
  color: #0f4c88;
}

#upcomingEventsDiv {
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #f9fbfc;

}

.upcomingEventsFlex{
  display: flex;
  flex-wrap: wrap;
}

.upcomingEventsImages{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
  transform: scale(.95, .95);
  transition: 0.5s;
}

.upcomingEventsImages:hover{
  transform: scale(.97,.97);
}

.upcomingEventsCol{
  padding: 0px 0px 0px 0px;
  width: 33vw;
  height: auto;
}

ul{
  list-style-type: none;
  padding-left: 15px;
}

li p{
  text-align: center;
  display: inline;
}

li strong{
  color: #0f4c88;
  text-decoration: underline;
  font-size: 25px;
}

/* Nav Bar */

.nav {
  height: 70px;
  background: transparent; //Transparent initial setting
  display: block;
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: all ease .5s;
  box-shadow: 0px 0px 0px black;
  pointer-events: none;
}

.eventsNav{
    height: 50px;
    background-color: #f9fbfc;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 99999;
    transition: all ease .5s;
    box-shadow: 0px 1px 10px grey;
}

.eventsLogo{
  color: #5dbd6b;
  padding: 0px;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  padding: 15px 10px 15px 10px;
  opacity: 1;
}

.eventsLogo:hover{
  color: #0c9949;
}

.allEventsFlex{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10% 0% 5% 0%;
  margin-bottom: 0;
}

.row{
  width: 100%;
  transition: 0.5s;
  border-style: solid;
  border-color: #5dbd6b;
  border-width: 1px 0px 1px 0px;

}

.allEventsHeader{
  display: inline;
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
}

.allEventsDesc{
  display: inline;
  position: absolute;
  font-family: 'Ubuntu', sans-serif;
  color: #0c9949;
  padding-left: 10px;
  padding-top: 40px;
}

.allEventsDescDate{
  display: inline;
  position: absolute;
  padding-left: 10px;
  padding-top: 40px;
}

.allEventsDescTime{
  display: inline;
  position: absolute;
  padding-left: 160px;
  padding-top: 40px;
}

.allEventsDescLocation{
  display: inline;
  position: absolute;
  padding-left: 320px;
  padding-top: 40px;
}


.allEventsCoverImage{
  object-fit: cover;
  object-position: 0% 0;
  width: 350px;
  height: 149px;

}

.RowBackground{
  background-color: #f9fbfc !important;
}

.logo {
  color: #5dbd6b;
  padding: 0px;
  font-size: 18px;
  transition: all ease .5s;
  opacity: 0.0;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

.logo:hover{
  color: #0c9949;
}

.active{
  color: #0c9949;
  text-decoration: none;
}

.nav.shrink {
  height: 50px;
  transition: all ease .5s;
  background: #f9fbfc; //Change background to white on scroll


}

.nav.shrink .logo {
  padding: 15px 10px 15px 10px;
  transition: all ease .5s;
  opacity: 1;
  pointer-events: all;
}


/* Responsive Design Considerations */

@media (max-width: 1250px) {
  .flex-grid{
    display: block;
  }
  #upcomingEvents{
    padding-top: 500px;
  }

  .upcomingEventsFlex{
    display: block;
  }

  .upcomingEventsCol{
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  ul{
      padding-left: 125px;
  }

}

@media (max-width: 1100px){
  .allEventsCoverImage{
    width: 40% !important;
  }

  .allEventsFlex{
      padding: 50px 0px 0px 0px;
  }

  .row{
    height: auto;
  }

}
