body{
  background-image: url(../Images/bckgnd.jpg);
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  /* background-color: blue; */
  text-align: center;
  padding: 0px 0;
  font-size: 30px;
}


.item1 { grid-area: 1/1/3/13; }
.item2 { grid-area: 3/1/4/5; }
.item3 { grid-area: 3/5/4/9; }
.item4 { grid-area: 3/9/4/13; }
.item5 { grid-area: 4/1/5/13; }

img{
  width: 90%;
  height: auto;
  transition: 0.5s;
}

.item1 img{
  width: 40% !important;
  transition: 0.5s;
}

.item5 img{
  width: 40% !important;
  transition: 0.5s;
}
img:hover{
  transform: scale(1.01, 1.01);
}
